/* ! RESET SHEET START */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ! RESET SHEET END */

:root{
    --accent-color: rgb(0, 145, 224);
    --accent-color-secondary: #efb429;
    --box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.107);
    --font-color-secondary: #636363;
}

html, body, .grid-container {
    height:100%;
}

body{
    background-color: #e2e8f0;
    font-family: "Roboto", sans-serif;
}

.grid-container{
    display:grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 200px 1fr;

    & > nav {
        background-color: var(--accent-color);
        grid-row: 1 / 3;

        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        row-gap:50px;
        padding:20px;
        
    }

    & > header {
        background-color: white;
    }
}

.nav-header > svg {
    height: 64px;
    width:auto;
}

.nav-controls > div > svg {
    height: 30px;
    width:auto;
}

.nav-header,
.nav-controls > div{
    display:grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 60px;
    align-items: center;
}


nav {
    fill:white;
    color:white;
    font-weight:500;
}

.nav-header{
    font-size:36px;
    column-gap: 10px;
}

.nav-controls > div {
    font-size:24px;
    column-gap: 35px;
    padding-left: 10px;
    border-radius:16px;
    transition:background-color 0.3s;
    
    &:hover:not(:nth-child(7)){
        background-color: #ffffffae;
        color:black;
        fill:black;
        box-shadow: var(--box-shadow);
        cursor:pointer;
    }
}

.main-header{
    box-shadow: var(--box-shadow);
    padding-left: 30px;
    padding-right: 5%;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.7fr 1fr;
}

.icon{
    fill:rgb(9, 9, 9);
    height:33px;
}

.pfp-small{
    height:50px;
    width:auto;
    border-radius: 50%;
}

.pfp-md{
    height: 60px;
    width:auto;
    border-radius: 50%;
}

.pfp-lg{
    height: 80px;
    width:auto;
    border-radius: 50%;
}

#search{
    display:flex;
    align-items: center;
    gap:15px;
    padding:10px;

    & > .icon {
        flex-shrink:0;
    }

    & > input {
        width: 100%;
        border-radius: 50px;
        outline:none;
        border:none;
        background-color: #e2e8f0;
        padding:10px 15px;
        font-family:inherit;
        font-weight:500;
        font-size:16px;
    }
}

#notif{
    padding:10px;
    display:flex;
    margin-left: auto;
    align-items: center;
    gap: 20px;
    font-weight:800;

    & > .icon {
        flex-shrink:0;
    }
}

#nameplate{
    display:flex;
    align-items: center;
    gap:15px;

    & span {
        font-size:16px;
    }

    & > h1 {
        font-size:30px;
        font-weight:800;
    }
}

#controls{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:30px;

    & button {
        background-color: var(--accent-color);
        border:none;
        padding:15px 10px;
        width: 90px;
        font:inherit;
        color:white;
        font-weight:500;
        border-radius:50px;
    }

    & button:hover{
        cursor:pointer;
        box-shadow: var(--box-shadow);
        background-color: rgb(60, 183, 255);
    }
}


.main-content{
    padding-top:70px;
    padding-right:30px;
    padding-bottom:70px;
    padding-left:20px;
    display:grid;
    grid-template-columns:1fr 360px;
    column-gap: 30px;
    row-gap: 80px;

    @media (max-width: 1137px) {
        grid-template-columns: 420px;
    }
}

.content{
    position:relative;
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(230px, min-content));
    
    &::before{
        content: "Your Projects";
        font-weight:700;
        font-size:22px;
        position:absolute;
        top:-35px;
        left:5px;
    }
}

.content-card{
    position: relative;
    background-color:white;
    border-radius:16px;
    overflow:hidden;
    display:grid;
    row-gap: 20px;
    grid-template-rows: 1fr min-content;
    padding:30px;
    box-shadow:var(--box-shadow);

    &::before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:10px;
        background-color:var(--accent-color-secondary);
    }

    & > .card-text{
        line-height:1.4lh;

        & > h1{
            font-weight:700;
            font-size:20px;
            margin-bottom: 6px;
        }

        & > p {
            color:var(--font-color-secondary);
            max-width: 32ch;
            font-size:18px;
            text-wrap-style:pretty;
        }
    }

    & > .card-icons{
        display:flex;
        gap:30px;
        margin-left: auto;
    }
}

.content-sidebar{
    display:grid;
    grid-template-rows: repeat(2, 420px);
    row-gap: 80px;
    
    & > div {
        box-shadow: var(--box-shadow);
        border-radius:16px;
        background-color: white;
        padding:30px;
        
    }
}

.sidebar-top{
    position:relative;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap:20px;

    & > div:not(:last-child) {
        border-bottom:1px solid rgba(167, 167, 167, 0.559);
    }

    & p {
        color: var(--font-color-secondary);
        line-height: 1.3lh;
    
    }

    &::before{
        content: "Announcements";
        font-weight:700;
        font-size:22px;
        position:absolute;
        top:-35px;
        left:5px;
    }
}

.sidebar-bottom{
    position:relative;
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;

    & > div {
        display:grid;
        grid-template-columns: min-content 1fr;
        align-items: center;
        gap:20px;        
    }

    &::before{
        content: "Trending";
        font-weight:700;
        font-size:22px;
        position:absolute;
        top:-35px;
        left:5px;
    }
}

.heading-sm{
    font-weight:700;
    font-size:17px;
    padding-bottom: 7px;
}


.user-info{
    font-size:17px;

    &> .username{
    font-weight:500;
    }

    & > p {
        padding-top: 5px;
        color:var(--font-color-secondary)
    }
}

